@import "../../App/assets/colors.module";

.loader {
	display: block;
	width: 24px;
	height: 24px;
	background-image: url("../../App/assets/icons/loader.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	animation: loading 1s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}