.current-forecast {
	position: relative;
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(#14161e, .7);
	}

	&__info-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 60px 0 80px;
	}

	&__country {
		font-size: .7em;
	}

	&__city {
		font-size: 8em;
		font-family: 'Staatliches', cursive;
		margin-bottom: 40px;
	}

	&__button {
		width: 100%;
		max-width: 240px;
		border: 0;
		outline: 0;
		padding: 20px;
		border-radius: 4px;
		background-image: linear-gradient(to right, rgba(#0084a2, 1), rgba(#00be69, 1));
		color: white;
		cursor: pointer;
	}

	&__sun-time {
		display: flex;
		font-size: .2em;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__general {
		font-size: 6em;
		background-color: rgba(#000715, 1);
		border-radius: 20px;
		padding: 20px 30px;
	}

	&__weather {
		font-size: .5em;
		display: block;
	}

	&__temp-symbol {
		font-size: .7em;
	}

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		z-index: 1;
	}

	&__forecast-wrap {
		width: 100%;
	}

	&__forecast-title {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(white, .3);
	}

	&__forecast {
		display: flex;
		justify-content: center;
		align-items: stretch;
		margin-top: auto;
	}

	&__three-hour-forecast {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}