@import "../../../App/assets/colors.module";

.current-five-days-forecast-item {
	display: flex;
	flex-direction: column;
	position: relative;
	width: calc((100% - 60px) / 5);
	min-width: 208px;

	&:not(:last-child) {
		margin-right: 15px;
	}

	&__info-wrap {
		display: flex;
		flex-direction: column;
		padding: 20px;
		border-radius: 24px;
		background-color: rgba($background-color-2, .4);
		backdrop-filter: blur(10px);
		color: $text-color-light;
		margin-bottom: 15px;

		&--night {
			.current-forecast-general-info {
				&__label {
					background-image: linear-gradient(to right, rgba($gradient-color-3, 1), rgba($gradient-color-4, 1));
				}
			}
		}
	}

	&__date {
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 600;
	}
}